body {
	font-family: Arial;
	
}

input[type="input"] {
	width: 80px;
}

input.baseRange:focus {
	outline: none;
	border: 2px solid #0000ff;
}

input.baseRangeSelected {
	border: 2px solid #0000ff;
}


input.compareRange:focus {
	outline: none;
	border: 2px solid #990000;
}

p {
	font-size: 14px;
	color: #666;
}

input[type="radio"]{
	display: inline-block;
}


/* red cell color for selected compare days */
tbody.datepickerDays td.datepickerCompareSelected {
  background-color:#990000;
 
}

tbody.datepickerDays td.datepickerCompareSelected a {
 color: white;
}

#testsContainer {
	margin-top: 40px;
}

.validMessage {
	color: #666;
}

.errorMessage {
	color: #990000;
}

hr {
	margin: 0px;
	padding: 0px;
	background-color: #CCC;
}

strong {
	color: #999;
}

label {
	font-size: 14px;
	color: #666;
}

.selectContainer {
	display: inline-block;
}

.toFrom  {
	display: inline-block;
}


#compareRange {
	display: inline-block;
}

.buffer {
	margin-bottom: 10px;
}

.footerBar {
	display: block; 
	width: 530px; 
	height: 30px; 
	margin: 0px; 
	padding: 0px
}

.validationContainer {
	display: inline-block; 
	width: 410px; 
	margin: 0px; 
	padding: 0px;
}

.validationText {
	display: block; 
	width: 400px; 
	margin: 0px; 
	padding: 0px;
	font-size: 12px;
}

.rangeButtonContainers {
	display: inline-block; 
	width: 100px;
	margin: 0px; 
	padding: 0px
}