/* line 19, ../../sass/range.scss */
br {
  line-height: 16px; }

/* line 23, ../../sass/range.scss */
#testsContainer {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  position: absolute;
  top: 60px;
  left: 600px; }

/* line 30, ../../sass/range.scss */
#prismContainer {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  width: 600px;
  height: 630px;
  margin-top: 20px; }

/* line 37, ../../sass/range.scss */
body {
  padding: 30px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 42, ../../sass/range.scss */
h4 {
  font-weight: normal;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 200; }

/* line 13, ../../sass/_ir_common_date_range.scss */
#dateCardContainer {
  height: 365px;
  width: 560px !important;
  top: 0px;
  left: 520px;
  display: block;
  overflow: visible;
  pointer-events: all;
  /* Hide border divs by default */
  /* Only display the previous/next arrows on the first/last calendars */
  /* Compensate for the space lost by not having a previous arrow */
  /* Day mode calendar body */
  /* Month mode calendar body */
  /* Year mode calendar body */
  /* Not used by default, calendar cells can be marked as special if desired (doesn't seem to be totally working) */
  /* style the 'not in month' day cell away */
  /* red cell color for selected compare days */
  /* Datepicker border styling */
  /* Tighten up the spacing between multiple calendars */
  /* Grey background behind Month Name row, and blue text */
  /* style the day of week header cells */
  /* grey underline beneath day of week row */
  /* Black text, white background, and grey borders around day cells */
  /* blue cell color for selected days */
  /* Grey out dates in the future */
  /* Grey out dates in the future */
  /* Grey out dates in the future */
  /* yellow cell background on hover */
  /* Bold today's date */
  /* cells are wider in the clean style */ }
  /* line 22, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .disableApply {
    opacity: 0.6;
    pointer-events: none;
    cursor: default; }
  /* line 28, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .enableApply {
    opacity: 1;
    pointer-events: all;
    cursor: pointer; }
  /* line 34, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .disableInput {
    border: none !important; }
  /* line 38, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .enableInput {
    border: 2px solid !important; }
  /* line 42, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .disableControl {
    pointer-events: none;
    border: none !important; }
  /* line 47, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .enableControl {
    pointer-events: all;
    border: 2px solid !important; }
  /* line 52, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer span.baseRangeTxt {
    color: #7fc022;
    font-size: 14px;
    font-weight: normal; }
  /* line 58, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer span.compareRangeTxt {
    color: #257d9b;
    font-size: 14px;
    font-weight: normal; }
  /* line 64, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .errorInputTxt {
    color: #990000; }
  /* line 69, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer span.warningRangeTxt {
    color: #e69500; }
  /* line 73, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .calendarContainer {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    padding: 20px;
    height: 300px;
    overflow: visible; }
  /* line 81, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer input {
    margin-left: 5px;
    width: 80px !important; }
  /* line 86, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer input[type="checkbox"] {
    width: 14px !important; }
  /* line 90, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer h4.baseTitle {
    margin-left: 0px;
    font-family: "Geogrotesque-Medium", Georgia, serif, Verdana; }
  /* line 97, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .compareRowContainer {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    height: 25px;
    overflow: visible; }
  /* line 105, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer #datepicker-calendar {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 175px; }
    /* line 109, ../../sass/_ir_common_date_range.scss */
    #dateCardContainer #datepicker-calendar .datepicker {
      width: 502px !important;
      height: 140px !important; }
  /* line 116, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer select {
    width: 127px;
    height: 18px; }
  /* line 121, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 196px;
    height: 147px;
    position: absolute;
    cursor: default;
    top: 0;
    left: 0;
    display: none; }
  /* line 133, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .datepickerContainer {
    position: absolute; }
  /* line 145, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .datepickerBorderT,
  #dateCardContainer .datepickerBorderB,
  #dateCardContainer .datepickerBorderL,
  #dateCardContainer .datepickerBorderR,
  #dateCardContainer .datepickerBorderTL,
  #dateCardContainer .datepickerBorderTR,
  #dateCardContainer .datepickerBorderBL,
  #dateCardContainer .datepickerBorderBR {
    display: none; }
  /* line 149, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .datepickerHidden {
    display: none; }
  /* line 152, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker table {
    border-collapse: collapse; }
  /* line 155, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker a {
    color: #333;
    text-decoration: none;
    cursor: default;
    outline: none; }
  /* line 161, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker table td {
    text-align: center;
    padding: 0;
    margin: 0; }
  /* line 166, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker th {
    text-align: center;
    color: #666666;
    font-weight: normal;
    padding: 0; }
  /* line 172, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker tbody a {
    display: block; }
  /* line 175, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .datepickerDays a {
    width: 20px;
    line-height: 16px;
    height: 16px;
    padding-right: 2px; }
  /* line 182, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .datepickerYears a,
  #dateCardContainer .datepickerMonths a {
    width: 39px;
    line-height: 36px;
    height: 36px;
    text-align: center; }
  /* line 191, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .datepickerMonths td:first-child a,
  #dateCardContainer .datepickerMonths td:last-child a,
  #dateCardContainer .datepickerYears td:first-child a,
  #dateCardContainer .datepickerYears td:last-child a {
    width: 38px; }
  /* line 194, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer td.datepickerNotInMonth a {
    color: #666666; }
  /* line 197, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer tbody.datepickerDays td.datepickerSelected {
    background: #7fc022; }
  /* line 200, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
    background: #17384d; }
  /* line 204, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer tbody.datepickerYears td.datepickerSelected,
  #dateCardContainer tbody.datepickerMonths td.datepickerSelected {
    background: #17384d; }
  /* line 207, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker td.datepickerSelected a {
    color: white; }
  /* line 211, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker a:hover,
  #dateCardContainer div.datepicker a:hover {
    color: #88c5eb; }
  /* line 214, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker td.datepickerNotInMonth a:hover {
    color: #999999; }
  /* line 217, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .datepickerSpace div {
    width: 20px; }
  /* line 220, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .datepickerBlock {
    vertical-align: top; }
  /* line 225, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer a.datepickerGoNext,
  #dateCardContainer a.datepickerGoPrev,
  #dateCardContainer a.datepickerMonth {
    text-align: center;
    height: 20px;
    line-height: 20px;
    float: left; }
  /* line 232, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker th a.datepickerGoNext,
  #dateCardContainer div.datepicker th a.datepickerGoPrev {
    width: 20px;
    color: #666666;
    display: none; }
  /* line 237, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker th a.datepickerMonth {
    width: 114px;
    display: block; }
  /* line 243, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker .datepickerFirstView th a.datepickerGoPrev,
  #dateCardContainer div.datepicker .datepickerLastView th a.datepickerGoNext {
    display: block; }
  /* line 247, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker th a.datepickerMonth {
    margin-left: 20px; }
  /* line 250, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker .datepickerFirstView th a.datepickerMonth {
    margin-left: 0; }
  /* line 255, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer table.datepickerViewDays tbody.datepickerMonths,
  #dateCardContainer table.datepickerViewDays tbody.datepickerYears {
    display: none; }
  /* line 261, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer table.datepickerViewMonths tbody.datepickerDays,
  #dateCardContainer table.datepickerViewMonths tbody.datepickerYears,
  #dateCardContainer table.datepickerViewMonths tr.datepickerDoW {
    display: none; }
  /* line 267, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer table.datepickerViewYears tbody.datepickerDays,
  #dateCardContainer table.datepickerViewYears tbody.datepickerMonths,
  #dateCardContainer table.datepickerViewYears tr.datepickerDoW {
    display: none; }
  /* line 271, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer td.datepickerDisabled a,
  #dateCardContainer td.datepickerDisabled.datepickerNotInMonth a {
    color: #555555; }
  /* line 274, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer td.datepickerDisabled a:hover {
    color: #333333; }
  /* line 278, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker tbody.datepickerDays td.datepickerSpecial a {
    background: #770000;
    color: white; }
  /* line 282, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker tbody.datepickerDays td.datepickerSpecial.datepickerSelected a {
    background: #aa0000; }
  /* line 287, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
    background-color: transparent; }
  /* line 290, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker td.datepickerNotInMonth a span {
    display: none; }
  /* line 293, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker td.datepickerNotInMonth a:hover span {
    display: none; }
  /* line 296, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker tbody.datepickerDays td.datepickerNotInMonth:hover {
    background-color: transparent; }
  /* line 302, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer body {
    font-family: Arial; }
  /* line 307, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer input[type="input"] {
    width: 80px; }
  /* line 311, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer input.baseRange:focus {
    outline: none;
    border: 2px solid #7fc022; }
  /* line 316, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer input.baseRangeSelected {
    border: 2px solid #7fc022; }
  /* line 321, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer input.compareRange:focus {
    outline: none;
    border: 2px solid #257d9b; }
  /* line 326, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer input.compareRangeSelected {
    border: 2px solid #257d9b; }
  /* line 330, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer p {
    font-size: 14px;
    color: #666; }
  /* line 335, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer input[type="radio"] {
    display: inline-block; }
  /* line 341, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer tbody.datepickerDays td.datepickerCompareSelected {
    background-color: #257d9b; }
  /* line 346, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer tbody.datepickerDays td.datepickerCompareSelected a {
    color: white; }
  /* line 350, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer #testsContainer {
    margin-top: 40px; }
  /* line 354, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .validMessage {
    color: #666; }
  /* line 358, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .errorMessage {
    color: #990000; }
  /* line 362, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer hr {
    margin: 0px;
    padding: 0px;
    background-color: #CCC; }
  /* line 368, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer strong {
    color: #999; }
  /* line 372, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer label {
    font-size: 12px;
    color: #666;
    font-family: "DINMittelEF-Regular", Helvetica, sans-serif; }
  /* line 378, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .selectContainer {
    display: inline-block; }
  /* line 383, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .toFrom {
    width: 230px;
    display: inline-block; }
  /* line 389, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer #compareRange {
    display: inline-block; }
  /* line 393, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .buffer {
    margin-bottom: 10px; }
  /* line 397, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .footerBar {
    display: block;
    width: 530px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    margin-top: 15px; }
  /* line 407, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .validationContainer {
    display: inline-block;
    width: 350px;
    margin: 0px;
    padding: 0px; }
  /* line 414, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .validationText {
    display: block;
    width: 350px;
    margin: 0px;
    padding: 0px;
    font-size: 12px; }
  /* line 422, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .rangeButtonContainers {
    display: inline-block;
    width: 158px;
    margin: 0px;
    padding: 0px;
    float: right; }
    /* line 429, ../../sass/_ir_common_date_range.scss */
    #dateCardContainer .rangeButtonContainers .dateButton {
      height: 26px;
      width: 70px;
      margin-left: 5px; }
    /* line 435, ../../sass/_ir_common_date_range.scss */
    #dateCardContainer .rangeButtonContainers .dateButton:focus {
      border: none;
      outline: none; }
  /* line 445, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .datepicker {
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    padding: 10px; }
  /* line 453, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .datepickerSpace div {
    width: 2px; }
  /* line 458, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker th {
    background-color: #eee; }
  /* line 461, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker th a.datepickerMonth {
    color: #666666;
    font-weight: normal; }
  /* line 467, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker th {
    color: #999;
    font-weight: bold; }
  /* line 472, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker table thead tr.datepickerDoW th {
    border-bottom: 1px solid #CCCCCC; }
  /* line 478, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker a,
  #dateCardContainer div.datepicker a:hover {
    color: #333; }
  /* line 483, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker table.datepickerViewDays,
  #dateCardContainer div.datepicker table.datepickerViewMonths,
  #dateCardContainer div.datepicker table.datepickerViewYears {
    background-color: white; }
  /* line 486, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker table tbody.datepickerDays td {
    border: 1px solid #F7F7F7; }
  /* line 491, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer tbody.datepickerDays td.datepickerSelected {
    background-color: #7fc022; }
  /* line 496, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker td.datepickerFuture a {
    color: #DDDDDD;
    pointer-events: none;
    cursor: default; }
  /* line 503, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker td.datepickerFuture a:hover {
    pointer-events: none;
    background-color: #DDDDDD !important; }
  /* line 509, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker td.datepickerFuture td:hover {
    pointer-events: none;
    background-color: #DDDDDD !important; }
  /* line 516, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker tbody.datepickerDays td:hover {
    background-color: #FFCC33; }
  /* line 521, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker td.datepickerToday a {
    font-weight: bold; }
  /* line 526, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .datepickerYears a, #dateCardContainer .datepickerMonths a {
    width: 42px; }
  /* line 530, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer .datepickerMonths td:first-child a,
  #dateCardContainer .datepickerYears td:first-child a {
    width: 39px; }
  /* line 533, ../../sass/_ir_common_date_range.scss */
  #dateCardContainer div.datepicker th a.datepickerMonth {
    width: 121px; }
